<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <a href="/book/detail/write">글쓰기로 이동</a>
        <br>
        <br>
        <table border = "1">
            <tr>
                <td>책 번호</td>
                <td>표지</td>
                <td>책 제목</td>
                <td>저자</td>
                <td>출판사</td>
                <td>가격</td>
            </tr>
<%
                for(var i=0; i<rows.length; i++){
                    var oneItem = rows[i];

%>
                    <tr>
                        <td><%=oneItem.book_num%></td>
                        <td><%=oneItem.image%></td>
                        <td><a href="/book/detail/read/<%=oneItem.book_num%>"><%=oneItem.book_title%></a></td>
                        <td><%=oneItem.author%></td>
                        <td><%=oneItem.publisher%></td>
                        <td><%=oneItem.book_price%></td>
                    </tr>
<%
                }
%>
        </table>
    </body>
</html>