<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
        <style>
            body{margin:0px; padding:0px;background-color:white;}
            table{font-size:15px; text-align:center;}
            input{height:30px; width:100%;}
            textarea{height:70px; width:100%;}
            .header{background-color:black; position:fixed; width:100%; top:0; left:0; z-index:1;}
            ul.nav{float:right; list-style:none; width:45%; height:20px;}
            ul.nav li{float:left; color:white;}
            ul.nav a{line-height:20px; color:#ffffff; padding:0 15px; text-decoration:none;}
      
            .bottom{line-height:50px; height:50px; width:100%; background-repeat:repeat; background-attachment: scroll; background-position:0% 0%; background-color:black;position:fixed; bottom:0pt; left:0pt;}
            .button{background-color:white; border:0px; color:black;text-decoration:none;}
            .button:hover{font-weight:bold; background-color:lightgray;}
            .log-but{border:1px solid black; width:95px; height:50px;}
            .log-but:hover{font-weight:bold;}
            a{text-decoration:none; color:black;}
            th, td { border-bottom: 1px solid #444444; padding: 10px; }
        </style>
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function button_event(){
                if (confirm("정말 삭제하시겠습니까??") == true){    //확인
                    document.form.submit();
                }else{   //취소
                    return;
                }
            }
        </script>
    </head>
    <body>
        <div class="header">
            <div>
              <ul class="nav">
                <li style="float:right; font-family: 'Nanum Myeongjo', serif; margin-right:20px;"><a href='/'>메인페이지</a></li>
              </ul>
            </div>
        </div>
        <div style="margin-top:90px; font-family: 'Nanum Myeongjo', serif; margin-left:210px; width:130px; font-size:30px; margin-bottom:10px;">
            장바구니
        </div>
            <table width = "1000px" style="margin:0 auto; margin-top:20px;">
                <tr style="height:30px; text-align:center;">
                    <td>표지</td>
                    <td>상품정보</td>
                    <td>판매가</td>
                    <td colspan = "2">선택</td>
                </tr>
<%              if(rows.length == 0) { %>
               <tr>
                  <td colspan="6">
                     <center>장바구니에 담으신 상품이 없습니다.</center>
                  </td>
               </tr>
<% }else{ %>
    <%
                for(var i=0; i<rows.length; i++){
                    var oneItem = rows[i];
    %>
                <!-- <input type = "hidden" name="cart_num" value = "<%=rows.cart_num%>"/> -->
                <tr>
                    <td><img src="/images/<%= oneItem.image %>" alt="" width="80px" height="130px"></td>
                    <td><a href="/book/detail/read/<%=oneItem.book_num%>"><%=oneItem.book_title%></a></td>
                    <td><%=oneItem.book_price%> 원</td>
                    <!-- 이 밑부분도 구매/장바구니 페이지 여부에 따라 다름 -->
                    <td colspan = "2">
                        <form action="/orders/delete/cart" method="post">
                            <input type="hidden" name="cart_num" value = "<%=oneItem.cart_num%>">
                            <button type = "submit" onclick='button_event()'>장바구니에서 삭제</button>
                        </form>
                    </td>
                </tr>
    <%
                    }
    %>
<%
                }
%>
            </table>
        <div style="width:120px; margin:0 auto; margin-top:10px; text-align:right; margin-left:970px;">
            <button type="button" onClick="location.href='/book'">쇼핑 계속하기</button>
        </div>
        <div style="width:120px; margin:0 auto; margin-top:10px; text-align:right; margin-top:-24px; margin-left:1090px;">
            <form action = "/orders/buyall" method = "post">
                <button type = "submit" id = "buyall" name = "buyall">전체 상품 구매</button>
            </form>
        </div>
        <script>
            const handleInsert = (row) => {
                axios.post('http://localhost:3000/orders/buy',{params: row})
                .then(() => location.href = '/orders/buy').then(() => console.log('fdsfasd'));
                
            }
        </script>
        <div style="height:200px;">
        </div>
        <div class="bottom" style="color:white;">
            <div style="float:left; margin-left:25px;"><strong>CONTACT</strong>&emsp;031-909-9999</div>
            <div style="float:right; margin-right:30px;"><strong>주소</strong>&emsp;서울특별시 노원구 월계3동 광운대학교</div>
          </div>
    </body>
</html>