<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset = 'utf-8'>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1><%=title %></h1>
        <!-- id = "bookDetailRead" form에 추가? -->
        <form action = "/book/detail/update" method = "get">
            <table width = "1200" height = "400" border = "3">
                <input type="hidden" name="book_num" value = "<%=row.book_num %>"/>
                <tr>
                    <!-- <td rowspan = "6">표지</td> -->
                    <td rowspan = "6"><img src="/images/<%= row.image %>" alt="" width="200px" height="100px"></td>
                    <td colspan = "3">제목 <%=row.book_title %></td>
                    <td colspan = "2">장르 <%=row.book_genre %> </td>
                </tr>
                <tr>
                    <td colspan = "3">저자 <%=row.author %></td>
                    <td colspan = "2">출판사 <%=row.publisher %></td>
                </tr>
                <tr>
                    <td colspan = "5">가격 <%=row.book_price %></td>
                    <!-- <td rowspan = "2">
                        <input type='button'onclick='count("plus")'value='+'/>
                        <input type='button'onclick='count("minus")'value='-'/>
                        <div id='quantity'>0</div>
                    </td> -->
                    <!-- oneclick 추가 -->
                </tr>
                <tr>
                    <td colspan = "5" rowspan = "3">줄거리 <%=row.book_content %></td>
                </tr>
            </table>
                <br></br>
                <tr>
                    <td colspan = "2">
                        <button type = "submit">수정</button>
                    </td>
                </tr>
        </form>
        <form action = "/orders/buy" method = "post">
            <input type = "button" id = "즉시구매" name = "즉시구매" value = "즉시구매" onclick="handleInsert('<%= JSON.stringify(row) %>')">
        </form>
        <form action = "/orders/cart" method = "post">
            <input type = "button" id = "장바구니" name = "장바구니" value = "장바구니" onclick="handleclick('<%= JSON.stringify(row) %>')">
        </form>
        <form action="/book/detail/delete" method="post">
            <input type="hidden" name="book_num" value="<%= row.book_num %>"/>
            <button type="submit">글 삭제</button>
        </form>
        <script>
            //버튼을 클릭해서 구매 수량을 +/-하는 함수
            //구매자 페이지에서만 나타나게 해야함?
            function count(type)  {
                // 결과를 표시할 element
                const resultElement = document.getElementById('quantity');
                
                // 현재 화면에 표시된 값
                let number = resultElement.innerText;
                
                // 더하기/빼기
                if(type === 'plus'){
                number = parseInt(number) + 1;
                }else if(type === 'minus'){
                number = parseInt(number) - 1;
                }//수량이 음수면 경고 메세지 출력하기
                // if(number < 0){
                //     alert('수량은 음수가 될 수 없습니다.');
                //     //근데 화면에는 여전히 -1이 출력됨!
                // }
                
                // 결과 출력
                resultElement.innerText = number;
            }
            const handleInsert = (row) => {
                axios.post('http://localhost:3000/orders/buy',{params: row})
                .then(() => location.href = '/orders/buy').then(() => console.log('fdsfasd'));
                
            }
            // const handleclick = (item) => {
            //     axios
            //     .post('http://localhost:3000/orders/cart', {params: {...item}})
            //     .then(res => console.log(item));
            // };
            const handleclick = (row) => {
                axios.post('http://localhost:3000/orders/cart',{params: row})
                .then(() => location.href = '/orders/cart').then(() => console.log('fdsfasd'));
            };
        </script>
    </body>
</html>