<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <script>
            function getData (rows) {
                console.log(rows);
            }
        </script>
        <h1><%= title %></h1>
            <table border = "1" width = "1200" height = "400" border = "3">
                <tr>
                    <td>번호</td>
                    <td>상품정보</td>
                    <td>판매가</td>
                    <td>수량</td>
                    <td>합계</td>
                    <td colspan = "3">선택</td>
                </tr>
<%              if(rows.length == 0) { %>
					<tr>
						<td colspan="5">
							<center>장바구니에 담으신 상품이 없습니다.</center>
						</td>
					</tr>
<% }else{ %>
    <%
                for(var i=0; i<rows.length; i++){
                    var oneItem = rows[i];
    %>
                <!-- <input type = "hidden" name="order_num" value = "<%=rows.order_num%>"/> -->
                <tr>
                    <input type="hidden" name="order_num" value = "<%=oneItem.order_num%>">
                    <td><%=oneItem.order_num%></td>
                    <td><a href="/book/detail/read/<%=oneItem.book_num%>"><%=oneItem.book_title%></a></td>
                    <td><%=oneItem.book_price%></td>
                    <td>
                        <form action = "/orders/quantity/update" method="post">
                            <input type="hidden" name="order_date" value = "<%=oneItem.order_date%>">
                            <input type="hidden" name="book_num" value = "<%=oneItem.book_num%>">
                            <input type="hidden" name="order_num" value = "<%=oneItem.order_num%>">
                            <input type="hidden" name="order_price" value = "<%=oneItem.book_price%>">
                            <input id="input" name = "quantity" type="number" value = "<%=oneItem.quantity%>"><!--원래는 type="text"-->
                            <a id="val"></a><!--원래는 <a> 태그 사이에 <%=oneItem.quantity%> 있었음(확인용)-->
                            <button type = "submit">구매 수량 결정</button>
                            <input type="hidden" name= "total_price" value = "<%= oneItem.total_price%>">
                            <td><%=oneItem.total_price%></td>                        
                        </form>
                    </td>
                    <td colspan = "3">
                        <form action = "/orders/mileage/update" method = "POST">
                            <input type="hidden" name="order_date" value = "<%=oneItem.order_date%>">
                            <input type="hidden" name="book_num" value = "<%=oneItem.book_num%>">
                            <input type="hidden" name="order_num" value = "<%=oneItem.order_num%>">
                            <input type="hidden" name="order_price" value = "<%=oneItem.book_price%>">
                            <input type="hidden" name = "quantity" value = "<%=oneItem.quantity%>">
                            <button type = "submit" a href = "/orders/buyConfirm">구매</button>
                            <input type="hidden" name= "total_price" value = "<%= oneItem.total_price%>"> 
                            <!-- <button type = "submit" onclick="handleInsert('<%= JSON.stringify(oneItem) %>')"><a href= "/orders/orderList">구매</button>                        -->
                        </form>
                        <!--쿠폰 버튼-->
                        <form action = "/orders/coupon/update" method="post">
                            <input type="hidden" name="order_date" value = "<%=oneItem.order_date%>">
                            <input type="hidden" name="book_num" value = "<%=oneItem.book_num%>">
                            <input type="hidden" name="order_num" value = "<%=oneItem.order_num%>">
                            <input type="hidden" name="order_price" value = "<%=oneItem.book_price%>">
                            <input type="hidden" name = "quantity" value = "<%=oneItem.quantity%>">
                            <button type = "submit" onclick='coupon_event()''>쿠폰 적용</button>
                            <input type="hidden" name= "total_price" value = "<%= oneItem.total_price%>">                         
                        </form>
                        <form action="/orders/delete/order" method="post">
                            <input type="hidden" name="order_num" value = "<%=oneItem.order_num%>">
                            <button type = "submit" onclick='button_event()'>삭제</button>
                        </form>
                    </td>
                </tr>
                <script>
                    var oldVal = Number('<%=oneItem.quantity%>');
                    $("#input").on("input", function() {
                        var newVal = oldVal + 1;
                        if(oldVal == newVal) {
                            return;
                        }
                        //$("#val").text(newVal-1);
                        oldVal = newVal;    
                    });
                </script>
    <%
                    }
    %>
<%
                }
%>
            </table>
            <tr>
                <td colspan = "2">
                    <!-- <button type = "submit">결제방식</button> -->
                    <input id='payment' type='button' onclick='popupOpen()'value='결제 페이지로 이동' />
                    <button type = "submit"><a href = "/book">상품 목록 페이지로 이동</button>
                </td>
            </tr>
            <script>
                function popupOpen(){
                    var popUrl = "payment.html";	//팝업창에 출력될 페이지 URL
                    var popOption = "width=370, height=360, resizable=no, scrollbars=no, status=no;";    //팝업창 옵션(optoin)
                    window.open(popUrl,"",popOption);
                }
                function button_event(){
                    if (confirm("정말 삭제하시겠습니까??") == true){    //확인
                        document.form.submit();
                    }else{   //취소
                        return;
                    }
                }
                function coupon_event(){
                    if (confirm("정말 보유하신 포인트를 사용하여 결제하시겠습니까??") == true){    //확인
                        document.form.submit();
                    }else{   //취소
                        return;
                    }
                }
                const inputSelector = document.querySelector('#quantity');
                let stateValue = "";
                function handleChange (e) {
                    stateValue = e.target.value;
                }
                function handleClick () {
                    // axios.post('http://localhost:3000/orders/buy',{params: })
                    // {
                        // book_price: rows.book_price,
                        // 
                        // 
                        // quantity: stateValue
                    // }
                }
                inputSelector.addEventListener('change', handleChange);
                inputSelector.addEventListener('click', handleClick);
            </script>
            <script>
                const handleInsert = (row) => {
                    axios.post('http://localhost:3000/orders/mileage/update',{params: row})
                    .then(() => location.href = '/orders/buy').then(() => console.log('fdsfasd'));
                            
                    }
            </script>
    </body>
</html>