<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function button_event(){
                if (confirm("정말 삭제하시겠습니까??") == true){    //확인
                    document.form.submit();
                }else{   //취소
                    return;
                }
            }
        </script>
    </head>
    <body>
        <h1><%= title %></h1>
            <table border = "1" width = "1200" height = "400" border = "3">
                <tr>
                    <td>번호</td>
                    <td>표지</td>
                    <td>상품정보</td>
                    <td>판매가</td>
                    <td colspan = "2">선택</td>
                </tr>
<%              if(rows.length == 0) { %>
					<tr>
						<td colspan="6">
							<center>장바구니에 담으신 상품이 없습니다.</center>
						</td>
					</tr>
<% }else{ %>
    <%
                for(var i=0; i<rows.length; i++){
                    var oneItem = rows[i];
    %>
                <!-- <input type = "hidden" name="cart_num" value = "<%=rows.cart_num%>"/> -->
                <tr>
                    <td><%=oneItem.cart_num%></td>
                    <td><img src="/images/<%= oneItem.image %>" alt="" width="100px" height="50px"></td>
                    <td><a href="/book/detail/read/<%=oneItem.book_num%>"><%=oneItem.book_title%></a></td>
                    <td><%=oneItem.book_price%></td>
                    <!-- 이 밑부분도 구매/장바구니 페이지 여부에 따라 다름 -->
                    <td colspan = "2">
                        <form action = "/orders/buy" method = "post">
                            <input type = "button" id = "즉시구매" name = "즉시구매" value = "즉시구매" onclick="handleInsert('<%= JSON.stringify(oneItem) %>')">
                        </form>
                        <form action="/orders/delete/cart" method="post">
                            <input type="hidden" name="cart_num" value = "<%=oneItem.cart_num%>">
                            <button type = "submit" onclick='button_event()'>장바구니에서 삭제</button>
                        </form>
                    </td>
                </tr>
    <%
                    }
    %>
<%
                }
%>
            </table>
        <script>
            const handleInsert = (row) => {
                axios.post('http://localhost:3000/orders/buy',{params: row})
                .then(() => location.href = '/orders/buy').then(() => console.log('fdsfasd'));
                
            }
        </script>
    </body>
</html>