<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
      <h1><%= title %></h1>
      <a href="/welcome_emp">메인 페이지로 이동</a><br>
      <a href="/modi">정보 수정으로 이동</a><br>
      <a href="/manage">회원관리로 이동</a><br>
      <br>
      <br>
      <table border="1">
        <tr>
          <td>아이디</td>
          <td><%=row.emp_id%></td>
        </tr>
        <tr>
          <td>이름</td>
          <td><%=row.emp_name%></td>
        </tr>
        <tr>
          <td>이메일</td>
          <td><%=row.emp_email%></td>
        </tr>
        <tr>
          <td>전화번호</td>
          <td><%=row.emp_phone_num%></td>
        </tr>
        
      </table>
    </body>
</html>
