<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script>
            //버튼을 클릭해서 구매 수량을 +/-하는 함수
            //구매자 페이지에서만 나타나게 해야함?
            function count(type)  {
                // 결과를 표시할 element
                const resultElement = document.getElementById('quantity');
                
                // 현재 화면에 표시된 값
                let number = resultElement.innerText;
                
                // 더하기/빼기
                if(type === 'plus'){
                number = parseInt(number) + 1;
                }else if(type === 'minus'){
                number = parseInt(number) - 1;
                }//수량이 음수면 경고 메세지 출력하기

                // if(number < 0){
                //     alert('수량은 음수가 될 수 없습니다.');
                //     //근데 화면에는 여전히 -1이 출력됨!
                // }
                
                // 결과 출력
                resultElement.innerText = number;
            }

            function popupOpen(){
                var popUrl = "payment.html";
                var popOption = "width=370, height=360, resizable=no, scrollbars=no, status=no;";

                window.open(popUrl,"",popOption);

            }
        </script>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action = "/orders/sellorderList" method="post">
            <table border = "1" width = "1200" height = "400" border = "3">
                <tr>
                    <td>번호</td>
                    <td>구매자 아이디</td>
                    <td>주문수량</td>
                    <td>상품정보</td>
                    <td>결제시간</td>
                    <td>결제금액</td>
                    <td colspan = "2">선택</td>
                </tr>
<%              if(rows.length == 0) { %>
					<tr>
						<td colspan="6">
							<center>장바구니에 담으신 상품이 없습니다.</center>
						</td>
					</tr>
<% }else{ %>

    <%
                for(var i=0; i<rows.length; i++){
                    var oneItem = rows[i];
    %>
                <!-- <input type = "hidden" name="order_num" value = "<%=rows.order_num%>"/> -->
                <tr>
                    <td><%=oneItem.order_num%></td>
                    <td><%=oneItem.cust_id%></td>
                    <td><%=oneItem.quantity%></td>
                    <td><a href="/book/detail/read/<%=oneItem.book_num%>"><%=oneItem.book_title%></a></td>
                    <td><%=oneItem.order_date%></td>
                    <td><%= oneItem.total_price%></td>
                    <!-- 이 밑부분도 구매/장바구니 페이지 여부에 따라 다름 -->
                    <td colspan = "2">
                        <button type = "submit">영수증 출력</button>
                        <button type = "submit">삭제</button>
                    </td>
                </tr>
    <%
                    }
    %>
<%
                }
%>
            </table>
            <input type='reset'>
            <tr>
                <td colspan = "2">
                    <!-- <button type = "submit">결제방식</button> -->
                    <input id='payment' type='button' onclick='popupOpen()'value='결제 페이지로 이동' />
                    <button type = "submit"><a href = "/book">상품 목록 페이지로 이동</button>
                </td>
            </tr>
        </form>
    </body>
</html>